.my-content-left{
    border-left: 2px dashed black;
    padding-left: 30px;
}


@media screen and (max-width: 991px) {
    .my-content-left{
        border-left: none;
        padding-left: 0;
    }
    
}


.validationFalse{
    border: 3px solid rgb(247, 10, 10);
    color: rgb(247, 10, 10);
}

.validationTrue{
    border: 3px solid rgb(5, 182, 5);
    color: rgb(5, 182, 5);
}

.cv-border{
    border: 3px solid black;
}