<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/Css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/Css/style.css">
</head>
<body>
    <div class="mt-5 container cv-border">
        <div class="row bg-white">
            <div class="col-5 p-0">
                <div class="background-blue bg-info">
                <br><br></div>
                <h1 class="mt-3 mb-1 ms-2 me-2 fs-2 text-primary">insert here the Name</h1>
                <h2 class="mt-3 mb-1 ms-2 me-2 fs-2 text-primary">insert here the last name</h2>
                <div class="col5-contact">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Contact:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <h4 class="mt-1 mb-1 ms-2 me-2 fs-5">Address:</h4>
                    <p class="mt-1 mb-1 ms-2 me-2">insert here the address</p>
                    <h4 class="mt-3 mb-1 ms-2 me-2 fs-5">Phone:</h4>
                    <p class="mt-1 mb-1 ms-2 me-2">insert here the phone</p>
                    <h4 class="mt-3 mb-1 ms-2 me-2 fs-5">Email:</h4>
                    <p class="mt-1 mb-1 ms-2 me-2">insert here the email</p>
                </div>
                <div class="col5-Languages">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Languages:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <p class="mt-1 mb-1 ms-2 me-2">insert here the languages</p>
                </div>
            </div>

            <div class="col-7 mt-5">
                <div class="col7-summary ps-4">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Summary:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <p class="mt-1 mb-1 ms-2 me-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, asperiores est vel tenetur repellendus ipsum cum dignissimos assumenda at magnam ipsam sunt totam</p>
                </div>
                <div class="col7-skills ps-4">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Skills:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <div class="row">
                        <div class="col-12 ms-3 skills-list1">
                            <ul>
                                <li> masdasd ter</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col7-jobs ps-4">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Jobs experience:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <div class="row">
                        <div class="col-12 ms-3 jobs-list2">
                            <ul>
                                <li> masdasd ter</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col5-Educations ps-4">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Educations:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <p class="mt-1 mb-1 ms-2 me-2 fw-bold">insert here the educations</p>
                </div>
                <div class="col5-certifications ps-4">
                    <h3 class="mt-4 mb-0 ms-2 me-2 fs-2 text-primary">Certifications:</h3>
                    <hr class="backgound-blue mt-1 ms-2 me-2">
                    <p class="mt-1 mb-1 ms-2 me-2 fw-bold">insert here the Certifications</p>
                </div>
                <h3 class="fs-6 mt-5 ms-2">for more information visit <a href="">my web site</a></h3>
                <div class="background-blue bg-info"><br><br></div>
            </div>

        </div>

    </div>
    
    <script src="../assets/js/site/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="../assets/js/lib/bootstrap.min.js"></script>
</body>
</html>

